<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ارفعلي</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Irfaali</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ar</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 @ucorc. All Rights Reserved.</string>
	<key>IrfaaliOwner</key>
	<string>@ucorc</string>
	<key>IrfaaliContactURL</key>
	<string>https://t.me/ucorc</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يستخدم ارفعلي مكتبة الصور لاختيار الفيديو الذي تريد تحليله ومعالجته.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>يستخدم ارفعلي مكتبة الصور لحفظ الفيديو الناتج عندما تطلب ذلك.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>OfficialLogo</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
